@font-face {
    font-family: "Fraunces";
    src: url("/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}


*{
    box-sizing: border-box;
}


/*---------------------Layout------------------------------------*/


