@font-face {
    font-family: "Fraunces";
    src: url("fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}


*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
 main a{
    display: block;
    width: 100%;
    background-color:#3D8168 ;
    text-align: center;
    padding:15px 0;
    border-radius:8px ;
}

svg{
    margin-right:11px ;
}

/*---------------------Layout------------------------------------*/

body{
   display: grid;
   place-items: center;
   grid-template-rows: 98% 1fr; 
}

main{
    max-width: 343px;
    border-radius: 10px;
   
    
    overflow: hidden;
}


article{
    padding-inline: 24px;
   
     
}


img{
    
  width: 100%;
}

span{
    margin-top: 24px;
    margin-bottom:32px;
    display: block;
}

h1{
    margin-bottom:24px ;
}

p{
    margin-bottom:29px;
}

/*------------------Fonts and Colors -------------------------*/

body{
    background-color: #f2eae2;
    
}

main{
    background-color: #FFFFFF;
}
h1{
    font-family: 'Fraunces';
    font-size: 2rem;
    font-weight: 700;
    color: #1C232B;
}
span, p{
   color: #6C7289
}

/*------------media query-----------------*/




@media (min-width:800px) {

    main{
        display: flex;
        max-width: 600px; 
       

    }

    img{
      max-width: 300px;
         width: auto;
        height: 100%;
        
    }
article{
   padding:  0 32px 32px 32px; 
}
}